*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Helvetica;
}

body{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 100px 750px 1100px 700px 550px 100px;
    grid-template-areas: "header header" "nav nav" "profile profile" "Faves Faves" " about about" "contact contact" "footer footer";
}

header {
    grid-area: header;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(217,221,241,.83);
}


.old_school_mob{
    display: none;
}
.old_school a{
    filter:grayscale(100%);
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { color: #1464e3;
  text-decoration: underline;}
a:active { text-decoration: none; }

.nav-container{
    width: 100%;
    padding: 10px;
    background-color: white;
    grid-area: nav;
}

.navbar{
    display: grid;
    grid-template-columns: .2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

.navbar sig {
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: black;
    text-decoration: none;
}

.nav-links:hover {
    color: rgba(217,221,241,.83);
    transition: all .2s ease-out;
}

.nav-links-btn {
    background-color: rgba(217,221,241,.83);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links:hover {
    background-color: transparent;
    color: black;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px rgba(217,221,241,.83);
    transition: all .3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3 ease-in-out;
    background: black;
}

@media screen and (max-width: 768px) {
    
    .nav-container{
        position: relative;
    }
    
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: rgba(217,221,241,.83);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all .5s ease;
    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background: white;
        left: 0;
        opacity: 1;
        transition: all .5s ease;
    }

    .nav-links{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: rgba(217,221,241,.83);
        color: black;
        transition: all .4s ease-out;
    }

    .navbar {
        width: 100%
    }

    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: darkgrey;
        color: black;
        transition: all .4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: red;
        color: white;
        transition: all .4s ease-out;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.old_school{
    color: black;
}
.profile{
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,.4)), url("https://www.dropbox.com/s/nn90f16insiubfw/background.webp?raw=1");
    background-position: 50% 30%;
    background-size: 100%;
    grid-area: profile;
    object-fit: contain;
    display: flex;
    height: 100%;
    width: auto;
    overflow: hidden;
    justify-content: center;
}

form {
    background:rgba(255, 255, 255, 0.6);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, label {
    width: 75%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
}

form input {
    margin-bottom: 30px;
}

form label {
    margin-bottom: 5px;
}

input::placeholder{
    text-align: center;
    font-size: .75em;
}

.ctype {
    width: 75%;
    display: flex;
    margin-bottom: 10px;
    font-size: .75em;
}

textarea {
    width: 75%;
    height: 25%;
    margin-bottom: 30px;
}

button {
    width: 75%;
    background: rgba(10, 9, 10, .8);
    color:rgba(255, 255, 255, .9);
    border-radius: 5px;
    height: 50px;
    font-size: 1.25em;
}

.Faves{
    grid-area: Faves;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100px 1fr 1fr;
    background:linear-gradient(to bottom,rgba(217,221,241,.5), rgba(217,221,241,0.1));
}

.Faves heading {
    grid-row: 1/2;
    grid-column: 1/span 5;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top: 5px;
    width: 100%;
}
.Faves heading h1 {
    display: flex;
    justify-content: center;
    text-justify: center;
    color: rgba(31,83,160,1);
    text-shadow: 1px 1px black;
}

.Faves heading p {
    color: black;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.Faves section{
    grid-row: 2/3;
    grid-column: 1/ span 5;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    object-fit: contain;
}

.houses-cell {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
    width: 25%;
    margin: 10px;
    background-color: white;
}

.houses-cell img {
    display: flex;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.houses-cell_text {
    padding: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

#about {
    grid-area: about;
    display: grid;
    grid-template-rows: 120px 580px;
    height: 100%;
    background:linear-gradient(to bottom,rgba(217,221,241,.5), rgba(217,221,241,0.1));
}

#about heading {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

#about heading h1{
    color: rgba(31,83,160,1);
    text-shadow: 1px 1px black;
}

#about_me {
    display: inline-flex;
    grid-row: 2/3;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#about_txt {
    max-width: 45%;
    font-size: max(3vh);
    letter-spacing: .05em;
    line-height: 3;
}

#about_me img{
    display: flex;
    height: 80%;
    justify-self: center;
}

#contact{
    grid-area: contact;
    background-color: rgba(217,221,241,1);
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

#contact iframe {
    display: flex;
    height: 90%;
    width: 50%;
}

footer{
    background-color: whitesmoke;
    grid-area: footer;
    display: inline-flex;
    object-fit: contain;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

footer img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: inline-flex;
}

@media screen and (max-width: 768px){
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        font-family: Helvetica;
    }
    body{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 100px 810px 2050px 1000px 550px 130px;
        grid-template-areas: "header header" "nav nav" "profile profile" "Faves Faves" " about about" "contact contact" "footer footer";
        max-height: 100%;
    }
    .emoji {
        display: none;
    }

    .old_school{
        text-align: end;
        line-height: 1.5;
        display: none;
    }
    .old_school_mob{
        display: inline-flex;
        flex-direction: column;
        text-align: end;
        line-height: 1.5;
    }

    .socialM {
        display: flex;
        flex-direction: column;
        max-height: 75%;
        line-height: 1.5;
    }

    .old_school_mob a{
        color: black;
        text-decoration: underline;
    }

    .profile{
        background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,.4)), url("https://www.dropbox.com/s/5d4dlatysyxq29j/background.jpg?raw=1");
        background-position: 50% 30%;
        background-size: 125%;
        grid-area: profile;
        object-fit: contain;
        display: flex;
        height: 100%;
        width: auto;
        overflow: hidden;
    }

    .profile iframe {
        height: 100%;
        width: 90%;
    }

    .Faves{
        grid-area: Faves;
        max-height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 160px 1fr;
        background:linear-gradient(to bottom,rgba(217,221,241,.5), rgba(217,221,241,0.1));
    }
    
    .Faves heading {
        grid-row: 1/2;
        grid-column: 1/span 5;
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        padding-top: 5px;
    }
    .Faves heading h1 {
        display: flex;
        justify-content: center;
        color: rgba(31,83,160,1);
        text-shadow: 1px 1px black;
        font-size: 40px;
        padding-top: 15px;
    }
    
    .Faves section{
        grid-row: 2/3;
        grid-column: 1/ span 5;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        object-fit: contain;
        max-height: 100%;
    }
    
    .houses-cell {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
        width: 70%;
        height: 350px;
        flex-wrap: wrap;
        margin: 10px;
        background-color: white;
    }
    
    .houses-cell img {
        display: flex;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    
    .houses-cell_text {
        padding: 5px;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-align: center;
    }    

    #about {
        grid-area: about;
        display: grid;
        max-height: 100%;
        margin-top: 10px;
        justify-self: flex-end;
        grid-template-rows: 180px 810px;
        object-fit: contain;
        background:linear-gradient(to bottom,rgba(217,221,241,.5), rgba(217,221,241,0.1));
    }
    
    #about heading {
        display: flex;
        flex-direction: column;
        grid-row: 1/2;
        justify-content: center;
        text-align: center;
        padding-top: 5px;
    }
    
    #about heading h1{
        color: rgba(31,83,160,1);
        text-shadow: 1px 1px black;
        font-size: 30px;
    }
    
    #about_me {
        display: flex;
        justify-items: space-between;
        grid-row: 2/3;
        flex-direction: column;
        max-height: 100%;
        max-width: 100%;
    }
    
    #about_txt {
        max-width: 100%;
        max-height: 50%;
        font-size: 4.5vmin;
        display: flex;
        align-content:flex-start;
        line-height: 3;
        margin-left: 10px;
    }
    
    #about_me img{
        display: flex;
        height: 40%;
        width: 70%;
        align-self: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #contact h1{
        font-size: 40px;
    }

    #contact iframe {
        display: flex;
        height: 100%;
        width: 90%;
        justify-content: center;
    }


    footer{
        background-color: whitesmoke;
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2 1fr);
    }
    
    footer img{
        grid-row: 1/2;
        grid-column: 1/2;
        max-height: 50%;
        object-fit: contain;
        display: inline-flex;
    }

    footer p {
        grid-row: 1/2;
        grid-column: 2/3;
        font-size: 16px;
        justify-self: end;
        text-align: end;
    }

    footer socialM{
        display: flex;
        grid-row: 2/3;
        grid-column: 1/2;
        justify-content: center;
        align-self: center;
    }
    .old_school{
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

