*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Helvetica;
}

body {
position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 700px 900px 700px 100px;
    background: linear-gradient(to top, rgba(217,221,241,1), rgba(217,221,241,.1)) ;
    grid-template-areas: "header header" "profile profile" "Faves Faves" "about about" "footer footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    background: white;
}

.survey {
    grid-area: profile;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 60% 10% 15%;
    height: 100%;
    width: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

form {
    grid-row: 1/span 4;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

form input, label {
    width: 75%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
}

form input {
    margin-bottom: 30px;
}

form label {
    margin-bottom: 5px;
}

input::placeholder{
    text-align: center;
    font-size: .75em;
}

.ctype {
    width: 75%;
    display: flex;
    margin-bottom: 10px;
    font-size: .75em;
}

textarea {
    width: 75%;
    height: 25%;
    margin-bottom: 30px;
}

button {
    width: 75%;
    background: rgba(10, 9, 10, .8);
    color:rgba(255, 255, 255, .9);
    border-radius: 5px;
    height: 50px;
    font-size: 1.25em;
}

.top {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#title {
    font-size: 3em;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 
    0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black
    , 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black
    , 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    color: white;
}
#place {
    color: red;
    text-align: center;
    font-size: 3em;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.Cont {
    display: flex;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: center;
    font-size: 1em;
    flex-direction: column;
    width: 90%;
    list-style: circle;
    margin-left: 30px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.hook {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    line-height: 1.5;

}

#call {
    grid-row: 4/5;
    grid-column: 1/2;
    padding-left: 25px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

.Faves{
    grid-area: Faves;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100px 1fr 1fr;
    background:linear-gradient(to bottom,rgba(217,221,241,1), rgba(217,221,241,0.1));
}

.Faves heading {
    grid-row: 1/2;
    grid-column: 1/span 5;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top: 5px;
    width: 100%;
}
.Faves heading h1 {
    display: flex;
    justify-content: center;
    text-justify: center;
    color: rgba(31,83,160,1);
    text-shadow: 1px 1px black;
}

.Faves heading p {
    color: black;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.Faves section{
    grid-row: 2/3;
    grid-column: 1/ span 5;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    object-fit: contain;
}

.houses-cell {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
    width: 25%;
    margin: 10px;
    background-color: white;
}

.houses-cell img {
    display: flex;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.houses-cell_text {
    padding: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

.contract{
    grid-area: about;
    background: white;
    display: flex;
    justify-content: center;
    text-align: center;
    background:rgba(217,221,241,.7);
}

.contract form { 
    width: 50%;
    display: flex;
    align-items: center;
    background:rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}

footer {
    grid-area: footer;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px){
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        font-family: Helvetica;
    }
    body{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1150px 2050px 600px 130px;
        grid-template-areas: "header header" "survey survey"  "Faves Faves" " about about" "footer footer";
        max-height: 100%;
    }

    header{
        grid-area: header;
        display: flex;
        justify-content: center;
        background: white;
        width: 100%;
    }

    .survey {
        grid-area: survey;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-bottom: 50px;
    }
    .top {
        margin-top: 10px;
    }

    .Cont {
        margin-top: 25px;
        line-height: 1.75rem;
    }

    .hook {
        margin-top: 20px;
    }

    .Call  {
        margin-top: 15px;
    }

    form input {
        margin-bottom: 10px;
    }

    form textarea {
        margin-bottom: 10px;
    }

    .Faves{
        grid-area: Faves;
        max-height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 160px 1fr;
        background:linear-gradient(to bottom,rgba(217,221,241,.5), rgba(217,221,241,0.1));
    }
    
    .Faves heading {
        grid-row: 1/2;
        grid-column: 1/span 5;
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding-top: 5px;
        text-align: center;
    }
    .Faves heading h1 {
        display: flex;
        justify-content: center;
        color: rgba(31,83,160,1);
        text-shadow: 1px 1px black;
        font-size: 40px;
        padding-top: 15px;
    }
    
    .Faves heading p {
        color: black;
        display: flex;
        justify-self: center;
        justify-content: center;
    }
    
    .Faves section{
        grid-row: 2/3;
        grid-column: 1/ span 5;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        object-fit: contain;
        max-height: 100%;
    }
    
    .houses-cell {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
        width: 70%;
        height: 350px;
        flex-wrap: wrap;
        margin: 10px;
        background-color: white;
    }
    
    .houses-cell img {
        display: flex;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    
    .houses-cell_text {
        padding: 5px;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
    }    

    #house1{
        transition-property: width;
        transition-duration: 400ms;
    }
    #house1:hover{
        width: 75%;
    }
    
    #house2{
        transition-property: width;
        transition-duration: 400ms;
    }
    #house2:hover{
        width: 75%;
    }
    
    #house3{
        transition-property: width;
        transition-duration: 400ms;
    }
    #house3:hover{
        width: 75%;
    }
    
    #house4{
        transition-property: width;
        transition-duration: 400ms;
    }
    #house4:hover{
        width: 75%;
    }
    
    #house5{
        transition-property: width;
        transition-duration: 400ms;
    }
    #house5:hover{
        width: 75%;
    }

    .contract form {
        width: 100%;
    }
}
