* {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 370px 200px;
    grid-template-areas: "Header" "Profile" "Quote";
    background: linear-gradient(to top, rgba(255,255,255,.8), rgba(255,255,255,.8)),url("/images/background.webp");
    background-size: 100%;
    background-position: 50% 30%;
    object-fit: contain;
    font-family: Helvetica, sans-serif;
}

.signature {
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
    margin-left: 20px;
}

.main {
    grid-area: Profile;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "form img";
    object-fit: contain;
    max-height: 100%;
}


.form {
    grid-area: form;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.form .modal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form header {
    font-size: 1.5em;   
    margin-bottom: 10px;
    width: 500px;
    text-align: center;
}

.form form {
    display: flex;
    justify-content: center;
    width: 500px;
}

form input {
    width: 300px;
}

form input::placeholder {
    text-align: center;
}

form button {
    background-color: rgba(31,83,160,1);
    color: white;
    margin-left: 10px;
    height: 45px;
    width: 200px;
    border: none;
    font-size: 1.1em;
    box-shadow: 5px 5px gray;
}

form button:hover {
    cursor: pointer;
}

.pic {
    grid-area: img;
    margin-left: 25px;
    display: flex;
    object-fit: contain;
    overflow: hidden;
}

.pic img {
    max-height: 100%;
    width: auto;
}

.quote {
    grid-area: Quote;
    background-color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote header {
    text-align: center;
}

blockquote {
    font-family: Montserrat;
    font-size: 1.2em;
    font-style: italic;
    width: 700px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    text-align: center;
    color: #383838;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 5em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:5em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}