* {
    background-color: whitesmoke;
    font-family: Montserrat;
}

header {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90%;
    height: 500px;
    padding: 20px;
}

form input {
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 5px;
}

form label {
    margin-bottom: 5px;
    font-size: 1.2em;
}

form select {
    margin-bottom: 20px;
    height: 40px;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px;
}

form button {
    margin-top: 25px;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px;
    background-color: rgba(31,83,160,1);
    color: white;
}